@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root {
    --bg-primary: #fff9d5;
    --bg-secondary: #ffffff;

    --primary-color: #f8a812;
    --primary-hover-color: #ff802b;
    --primary-active-color: #ff5500;

    --text-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Pretendard-Regular';
}
button {
    cursor: pointer;
}
body {
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    background-color: var(--bg-secondary);
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 90%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1 {
    color: var(--primary-color);
    font-family: 'SokchoBadaDotum';
}
#create-btn {
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    transition: all 0.4s;
}
#create-btn:hover {
    background-color: var(--primary-hover-color);
}
#create-btn:active {
    background-color: var(--primary-active-color);
}
.todo-list li {
    display: flex;
    margin-top: 32px;
}
.todo-list input {
    background-color: var(--bg-secondary);
}
.todo-list input[type="checkbox"] {
    accent-color: var(--primary-color);
    cursor: pointer;
}
.todo-list input[type="text"] {
    border-bottom: 1px solid #cccccc;
    flex-grow: 1;
    margin: 0 8px 0 12px;
    outline: none;
    transition: all 0.4s;
}
.todo-list li input[type="text"]:focus {
    border-bottom: 2px solid var(--primary-color);
}
.completed {
    color: #aaaaaa;
    text-decoration: line-through;
}

.todo-list button {
    background: none;
    margin-left: 8px;
}
.todo-list i {
    color: #ff7575;
    font-size: 18px;
    margin-right: 16px;
}
.todo-list i:hover {
    color: #ff4747;
}
.empty-container {
    margin-top: 32px;
    color: #888;
}

@media (max-width: 700px) {
    main {
        padding: 30px 24px;
    }
    h1 {
        font-size: 24px;
    }
    #create-btn {
        width: 28px;
        height: 28px;
        font-size: 24px;
        font-weight: normal;
    }
    .todo-list i {
        margin-right: 4px;
    }
    .empty-container {
        font-size: 14px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #181a22;
        --bg-secondary: #222222;
    
        --primary-color: #7181ac;
        --primary-hover-color: #7181acab;
        --primary-active-color: #7181ac5b;

        --text-color: #ffffff;
    }
}