* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
body {
    background-color: #FFF9D5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 90%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
h1 {
    color: #f8a812;
}
#create-btn {
    background-color: #f8a812;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    transition: all 0.4s;
}
#create-btn:hover {
    background-color: #ff802b;
}
#create-btn:active {
    background-color: #ff5500;
}
.todo-list li {
    display: flex;
    margin-top: 32px;
}
.todo-list input[type=checkbox] {
    accent-color: #f8a812;
    cursor: pointer;
}
.todo-list input[type=text] {
    border-bottom: 1px solid #cccccc;
    flex: 1;
    margin: 0 8px 0 12px;
    outline: none;
    transition: all 0.4s;
}
.completed {
    color: #aaaaaa;
    text-decoration: line-through;
}
.todo-list li input[type=text]:focus {
    border-bottom: 2px solid #f8a812;
}

.todo-list button {
    background: none;
    margin-left: 8px;
}
.todo-list i {
    color: #ff7575;
    font-size: 18px;
    margin-right: 16px;
}
.todo-list i:hover {
    color: #ff4747;
}

@media (max-width: 700px) {
    h1 {
        font-size: 24px;
    }
    #create-btn {
        width: 28px;
        height: 28px;
        font-size: 24px;
        font-weight: normal;
    }
    .todo-list i {
        margin-right: 4px;
    }
}